@charset "UTF-8";


/* 추가정보 입력창 바탕*/
.all-area-modal2 {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7;
    background-color: rgba(26, 29, 26, 0.9);
    top: 0;
    left: 0;
    display: none;
    padding-top: 10%;
    /* visibility: hidden; */
    box-sizing: border-box;
}

/*  소셜로그인 추가 입력창 */
.addInfoPositon {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    top: 100px;
}

#addInfoMsg {
    color: white;
    font-size: 15px;
    display: block;
    width: 100%;
    
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}


/*  소셜로그인 추가 입력창 */
#addInfoWrap{
    background-color: white;
    width: 400px;
    height: 300px;
    
    padding: 0;
    border-radius: 5px;
    display: block;

}

#addInfoHeader {
    width: 100%;
    height: 30px;
    background-color: black;
}

#addInfoClose {
    font-size: 20px;
    font-weight: bold;
    color: white;   
    display: block;
    float: right;
    padding: 0;
    margin-right: 5px;
}

#addInfoClose:hover{
    color: red;
    cursor: pointer;
}

/* 추가로 입력받을 이메일, 닉네임 입력폼*/
#addInfoForm{
    width: 100%;
    height: 85%;
    box-sizing: border-box;
    padding: 10px 30px 0 30px;
}



/* 이메일, 닉네임 레이블 설정 */
.addInfoLabel {
    display: inline-block;
    margin-bottom : 10px;
    color : gray;
    font-weight : bold;
    width: 20%;
    height: 10%;
}

.addChkMsg {
    display: inline-block;
    width: 70%;
    height: 10%;
    margin-left: 5%;
    font-weight : bold;
    font-size: 0.8em;
    margin-bottom : 10px;
}

/* 이메일, 닉네임 인풋 설정 */
.add_input_area{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;

} 

/* email, nickName 인풋의 크기, 형태 설정 */
#addInfoForm input {
    padding-left: 5px; 
    width: 70%;
    height: 100%;
    background-color: lightgray;
    border : 0;
    outline : 0;
}

/* 확인 및 인증 메시지 영역 */
.addChkMsg {
    display: inline-block;
    padding-left: 20px;
    font-size: 0.8em;
    font-weight: bold;
    color : green;
}

/* 이메일, 닉네임 확인 버튼 */
.addChkBtn{
    width: 25%;
    height: 100%;
    right: 0;
    background-color: lightgray;
    border : 0;
    outline : 0;
    border-radius: 5px;
    color : dimgray;
    font-weight : bold;
    font-size: 0.9em;
    margin-left: 10px;
}

#addInfoFooter {
    width: 100%;
    height: 60px;
}

#addMiddleLine {
    display: block;
    width: 100%;
}

#addMiddleLine hr {
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}


.addJoinBtn{
    width: 100%;
    height: 90%;
    background-color: lightgray;
    border : 0;
    outline : 0;
    border-radius: 10px;
    color : dimgray;
    font-weight : bold;
}