/* 회색 : rgb(210, 214, 211) */
* {
    box-sizing: border-box;

}

div {
    /*  border: 1px solid red;  */
}

/* 중앙정렬에 관한 설정 */
.center{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 버튼에 모달 기능 : 로그인 버튼 누르기------------------- */

/* body부분 전체 흐리게 만드는 모달. 로그인 버튼에 쓰임 */
.all-area-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgba(49, 51, 49, 0.7);
    top: 0;
    left: 0;
    display: none;
    padding-top: 10%;
    /* visibility: hidden; */
    box-sizing: border-box;
}

/* 모달창 닫기 버튼 영역 */
#loginHeader {
    width: 100%;
    height: 30px;
    background-color: black;
}

/* 모달창 닫기 버튼 */
#loginClose {
    font-size: 20px;
    font-weight: bold;
    color: white;   
    display: block;
    float: right;
    padding: 0;
    margin-right: 5px;
}

#loginClose:hover{
    color: red;
    cursor: pointer;
}

/* 로그인버튼 누르면 뜰 로그인 창 바탕*/
#login-form{
    background-color: white;
    width: 400px;
    height: 540px;
    /* top: 100px; */
    left: 35%;
    padding: 0;
    border-radius: 5px;

}

#login-form div{
    box-sizing: border-box;
}

#login-form button:hover {
    cursor: pointer;
}
/* 로그인 창의 이메일(ID), 비밀번호 입력 폼 영역*/
#login-input-email-pwd {
    width: 100%;
    height: 290px;
    box-sizing: border-box;
    padding: 20px 35px 0px 35px;
}

/* 로그인, 비밀번호 레이블 설정 */
.login_input_label {
    display: block;
    margin-bottom : 10px;
    color : gray;
    font-weight : bold;
}

/* 로그인 창의 이메일(ID), 비밀번호 입력받는 인풋의 크기, 형태 설정 */
#login-input-email-pwd input{
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px; 
    background-color: lightgray;
    border : 0;
    outline : 0;

}

/* 로그인 창의 로그인(소셜 포함) 버튼 영역 */
.login_btn_area{
    margin-top : 20px;
    width: 100%;
    height: 45px;
    box-sizing: border-box; 
    position: relative;
}

/* 로그인 창의 로그인 버튼 */
.login_btn, .join_btn{
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border : 0;
    outline : 0;
    border-radius: 10px;
    color : dimgray;
    font-weight : bold;
}

/* 소셜 로그인 div 영역 */
#social_login {
    width : 100%;
    height : 140px;
    padding: 0px 35px 0px 35px;
}

#kakao_area img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
/* 카카오버튼 안보이게. */
#kakao-login-btn {
	display: none;
}

#naver_area:hover {
	cursor : pointer;
}

/* 회원가입, 비밀번호 찾기 div 영역 */
#login_form_footer {
    width : 100%;
    border-top : 1px solid darkgray;
    height : 60px;
    padding : 10px 30px 10px 30px;
}

/* 회원가입, 아이디비번 찾기 영역 */
#join_search_btn_area {
    display: inline-block;
    height : 100%;
    width: 100%;
    position: relative;
    font-size : small;
    padding-left: 50px;

}

/* 회원가입, 아이디비번 찾기 버튼 */
#join_search_btn_area button {
    height : 100%;
    background-color: lightgray;
    outline : 0;
    border : 0;
    border-radius: 5px;
    color : gray;
    text-align: center;
    font-size : small;
    font-weight : bold;
    padding : 5px 5px;
    margin-left: 5px;
}

/* 모달 공통적인 기능 */
.animate-top{
    position: relative;
    animation: animatetop 0.5s;
}

@keyframes animatetop{
    from{
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}
/* 모달 설정 종료--------------------------------------------- */

